<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/style.css">
    <title>chat awesome</title>
</head>
<body>
<div class="container-fluid">
    <div class="text-center">
        <h1 class="">Chat App</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Create group</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" value="" class="form-control" id="user_id" data-role="tagsinput"/>
                    <span class="error"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <button type="submit" class="btn btn-add-group btn-success">Create</button>
                </div>
            </div>
        </div>

    </div>

    <div class="msg_box mr-2" style=" display:block">
        <div class="msg_head">
            <span id="box_name" name="">hihi</span>
            <div class="close">x</div>
        </div>
        <div class="msg_wrap">
            <div class="msg_body">
                <div class="msg_push"></div>
            </div>
            <div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>
        </div>
    </div>
    <div class="conversation_box ">
        <div class="conversation_head"> Conversation Box</div>
        <div class="conversation_body">
        </div>
    </div>
    <div class="chat_box mr-2">
        <div class="chat_head"> List Friends</div>
        <div class="chat_body">
            <% users.forEach(function(user) { %>
                <div class="user" data-userId="<%= user._id %>"><%= user.firstname %> <%= user.lastname %></div>
            <% }); %>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-2.2.2.min.js"
        integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
        crossorigin="anonymous"></script>
<!--<script-->
<!--        src="https://code.jquery.com/jquery-2.2.2.min.js"-->
<!--        integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/bootstrap-tagsinput.js"></script>
<script src="/socket.io.js"></script>
<script src="/chat.js"></script>
</body>
</html>